@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Min Index.html */
img {
    height: 288px;
    width: 288px;
    object-fit: cover;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#destination-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    gap: 16px;
    list-style: none;
    margin-bottom: 25px;
}

h1 {
    width: 1200px;
    margin: auto;
    font-size: 48px;
    margin-bottom: 25px;
}

li {
    width: 288px;
}

/* Mit Destination.html */

#detailview {
    display: flex;
}
.detailview__img{
 border-radius: 0;
}

.imagecontainer {
    display: grid;
    grid-template-columns: 237px 237px 237px;
    width: 712px;
    height: 832px;
}

.imagecontainer__img{
    width: 712px;
    height: 832px;
}

.txtcontainer {
    width: 483px;
    margin-left: 82px;
    margin-top: 221px;
}

.txtcontainer__town {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.txtcontainer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    width: 483px;
    margin-bottom: 32px;
}

.txtcontainer__procent{
    margin: auto;
    width: 369px;
}

.txtcontainer__description{
    width: 461px;
    margin: 32px auto;
}

