*{
    margin: 0;
    padding: 0;
}

img{
    height: 288px;
    width: 288px;
    object-fit: cover;
}

#destinations{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    gap: 16px;
}

h1{
    width: 1200px;
}

.destinations__article{
    height: 366px;
    background-color: #CEF9FF;
}