@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

img{
    height: 288px;
    width: 288px;
    object-fit: cover;
}

#destination-list{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    gap: 16px;
    list-style: none;
}

h1{
    width: 1200px;
    margin: auto;
}

li{
    width: 288px;
}

.destinations__article{
    height: 366px;
    background-color: #CEF9FF;
}